@use 'sass:color';
@use '@material/theme/color-palette';
// @use '@material/typography/mdc-typography';
// MDC Elevation Classes
// @use '@material/elevation/mdc-elevation';

// Color monochrom from adobe kulor/color
// blue-grey: #2F5169;
// light-blue: #B2D4ED;
// base: #69B3E7;
// dark-grey: #4E5E69;
// medium-blue: #518CB5;



// Svelte Colors!
@use '@material/theme/index' as theme with (
  $primary: #4E5E69,
  $secondary: #69B3E7,
  $surface: #B2D4ED,
  $background: #fff,
  $error: color-palette.$red-900
  // $on-error,
  // $on-primary,
  // $on-secondary,
  // $on-surface,
  // contrast,
  // contrast-tone,
  // luminance,
  // text-emphasis,
  // tone;
);
/* Theme colors. */
:root {
  --mdc-theme-primary: #4E5E69;
  --mdc-theme-secondary: #69B3E7;
  --mdc-theme-background: #B2D4ED;
  --mdc-theme-surface: #fff;
  --mdc-theme-error: #b71c1c;
  --mdc-theme-on-primary: #fff;
  --mdc-theme-on-secondary: #fff;
  --mdc-theme-on-surface: #000;
  --mdc-theme-on-error: #fff;
  --mdc-theme-text-primary-on-background: rgba(0, 0, 0, 0.87);
  --mdc-theme-text-secondary-on-background: rgba(0, 0, 0, 0.54);
  --mdc-theme-text-hint-on-background: rgba(0, 0, 0, 0.38);
  --mdc-theme-text-disabled-on-background: rgba(0, 0, 0, 0.38);
  --mdc-theme-text-icon-on-background: rgba(0, 0, 0, 0.38);
  --mdc-theme-text-primary-on-light: rgba(0, 0, 0, 0.87);
  --mdc-theme-text-secondary-on-light: rgba(0, 0, 0, 0.54);
  --mdc-theme-text-hint-on-light: rgba(0, 0, 0, 0.38);
  --mdc-theme-text-disabled-on-light: rgba(0, 0, 0, 0.38);
  --mdc-theme-text-icon-on-light: rgba(0, 0, 0, 0.38);
  --mdc-theme-text-primary-on-dark: white;
  --mdc-theme-text-secondary-on-dark: rgba(255, 255, 255, 0.7);
  --mdc-theme-text-hint-on-dark: rgba(255, 255, 255, 0.5);
  --mdc-theme-text-disabled-on-dark: rgba(255, 255, 255, 0.5);
  --mdc-theme-text-icon-on-dark: rgba(255, 255, 255, 0.5);
}

/* Layout grid spacing. */
:root {
  --mdc-layout-grid-margin-desktop: 24px;
  --mdc-layout-grid-gutter-desktop: 24px;
  --mdc-layout-grid-column-width-desktop: 72px;
  --mdc-layout-grid-margin-tablet: 16px;
  --mdc-layout-grid-gutter-tablet: 16px;
  --mdc-layout-grid-column-width-tablet: 72px;
  --mdc-layout-grid-margin-phone: 16px;
  --mdc-layout-grid-gutter-phone: 16px;
  --mdc-layout-grid-column-width-phone: 72px;
}

.brand-color{
  background-color: var(--mdc-theme-primary, #333);
}

html,
body {
  background-color: theme.$surface;
  color: theme.$on-surface;
  margin: 0;
}

a {
  color: #40b3ff;
}

a:visited {
  color: color.scale(#40b3ff, $lightness: -35%);
}

// custom css
.mdc-top-app-bar--fixed-adjust {
  padding-top: 4px;
}
