{% load i18n admin_urls %}

<div class="card submit_btn">
    <div class="card-body">
       <div class="row">
        {% block submit-row %}
            {% if show_save %}
              <div class="col-12 mb-4">
                <button type="submit" name="_save" class="btn btn-sm btn-outline-primary">{% trans 'Save' %}</button>
              </div>
            {% endif %}

            {% if show_save_as_new %}
            <div class="col-12 mb-4">
                <button type="submit" name="_saveasnew" class="btn btn-sm btn-success">{% trans 'Save as new' %}</button>
              </div>
            {% endif %}

            {% if show_save_and_add_another %}
            <div class="col-12 mb-4">
                <button type="submit" name="_addanother" class="btn btn-sm btn-info">{% trans 'Save and add another' %}</button>
              </div>
            {% endif %}

            {% if show_save_and_continue %}
              <div class="col-12 mb-4">
                <button type="submit" name="_continue" class="btn btn-sm btn-warning">{% if can_change %}{% trans 'Save and continue editing' %}{% else %}{% trans 'Save and view' %}{% endif %}</button>
              </div>
            {% endif %}

            {% if show_close %}
              <div class="col-12 mb-4">
                <a href="{% url opts|admin_urlname:'changelist' %}" class="btn btn-sm btn-default">{% trans 'Close' %}</a>
              </div>
            {% endif %}

            {% if show_delete_link and original %}
              <div class="col-12 mb-4">
                {% url opts|admin_urlname:'delete' original.pk|admin_urlquote as delete_url %}
                <a href="{% add_preserved_filters delete_url %}" class="btn btn-sm btn-danger">{% trans "Delete" %}</a>
              </div>
            {% endif %}
        {% endblock %}
        </div>
    </div>
</div>
