.container.svelte-1ar9nkk {
  padding: 2em 0 0;
}
.lead.svelte-1ar9nkk {
  max-width: 650px;
  font-size: 1.5em;
  font-weight: 300;
  line-height: 1.2;
  display: block;
  padding: 1em 0;
}
.colophon.svelte-eqpud5.svelte-eqpud5 {
  background-color: var(--mdc-theme-primary, #fff);
}
.logo.svelte-eqpud5.svelte-eqpud5 {
  width: auto;
  display: block;
  padding: 5px 1em;
}
.logo.svelte-eqpud5 img.svelte-eqpud5 {
  width: 250px;
  display: block;
}
.footer.svelte-d6boib {
  min-height: 300px;
  background-color: var(--mdc-theme-secondary, #fff);
  color: #fff;
  overflow: hidden;
}
app,
body,
html {
  display: block !important;
  height: auto !important;
  width: auto !important;
  position: static !important;
}
