{% extends 'admin/change_form.html' %}
{% load static %}

{% block admin_change_form_document_ready %}
{{ block.super }}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
<script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
<script>
  console.log( ' loaded post script ');
  (function($) {
    // blod title to slug formatter function
    function titleToSlug(input){
      let slug = input.toLowerCase().replace(/[^a-zA-Z0-9 ]+/g,"").replace(/\s+/g, "-");
      $('#post_form input[name=slug], #page_form input[name=slug]').val(slug)
    }
    $('#post_form input[name=title], #page_form input[name=title]').on( 'input', (e) =>{
       titleToSlug(e.target.value)
    })

    // TextField to markdown editor function
    function addMarkdownEditor(){
      // vanilla js
      // var simplemde = new SimpleMDE({ element: document.getElementById("MyID") });
      // jQuery example
      // var simplemde = new SimpleMDE({ element: $("#MyID")[0] });
      let editorTags = $(`
      #post_form textarea[name=content],
      #post_form textarea[name=excerpt],
      #post_form textarea[name=editor],
      #page_form textarea[name=content],
      #page_form textarea[name=excerpt],
      #page_form textarea[name=editor],
      `)
      for (var i = 0; i < editorTags.length; i++) {
        var simplemde = new SimpleMDE({ element: editorTags[i][0] });
      }
    }
    // addMarkdownEditor()

})(django.jQuery);
</script>
{% endblock %}
